
@{
    ViewBag.Title = "Index";
}
<h1>@ViewBag.Message</h1>
<h2>Grupuri</h2>

<a class="btn btn-primary" style="background-color: #5680E9" href="/Groups/New">Adauga un grup nou</a>
<a class="btn btn-primary" style="background-color: #5680E9" href="/Posts/Index">Inapoi la postari</a>

<br />
@foreach (var group in ViewBag.Groups)
{
    if (group.GroupId != 1)
    {
        <h1>@group.GroupName</h1>
        <p>@group.GroupDescription</p>
        <br />

        <a class="btn btn-info" href="/Groups/Show/@group.GroupId">Afisare grup</a>

        int count = 0;
        foreach (var user in group.Users)
        {
            if (ViewBag.User == user)
            {
                <i class="glyphicon glyphicon-ok">Esti inscris in grup</i>
                count = 1;
                break;
            }
        }
        if (count == 0)
        {
            <a class="btn btn-info" href="/Groups/NewMember/@group.GroupId">Inscrie-te in grup</a>
        }


        <br />
    }


}

