@model BDProiect.Models.Post
@{
    ViewBag.Title = "New";
}

<h1>@ViewBag.Message</h1>
<br />

<h2>Adaugare postare</h2>

<form method="post" action="/Posts/New">
    @Html.Label("Content", "Continut articol")
    <br />
    @Html.TextArea("Content", null, new { @class = "form-control" })
    <br />
    <button class="btn btn-success" type="submit">Adauga postare</button>
</form>
