@model MicroSocialPlatform.Models.ApplicationUser
@{
    ViewBag.Title = "Show";
}

<h2>@ViewBag.User.UserName</h2>
<br />


@if (ViewBag.FriendCount == 0)
{
    <form method="post" action="/Users/AddFriend">
        <input type="hidden" name="UserId" value="@ViewBag.User.Id" />
        <button type="submit">Add Friend</button>
    </form>
}
else
{
    int count = 0;
    foreach (var fr in ViewBag.Friends)
    {
        if ((fr.User1_Id == ViewBag.User.Id && fr.User2_Id == ViewBag.CurrentUser.Id) || (fr.User2_Id == ViewBag.User.Id && fr.User1_Id == ViewBag.CurrentUser.Id))
        {
            count = 1;
            if (fr.Accepted == true)
            {
                <i class="glyphicon glyphicon-ok">Sunteti prieteni</i>
                <br />
                <hr />
                break;
            }
            else
            {
                <i class="glyphicon glyphicon-time">Cererea este in asteptare</i>
                <br />
                <hr />
                break;
            }

        }
    }
    if (count == 0)
    {
        <form method="post" action="/Users/AddFriend">
            <input type="hidden" name="UserId" value="@ViewBag.User.Id" />
            <button type="submit">Add Friend</button>
        </form>
    }
}
@if (ViewBag.User.Visibility == true || ViewBag.IsFriend == "True")
{
    foreach (var post in ViewBag.Posts)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <br /><strong>@post.Content</strong>
                <br />
                <div class="panel-footer">
                    <a class="glyphicon glyphicon-comment" href="/Posts/Show/@post.PostId"></a>
                </div>
            </div>
        </div>
    }
}
else
{
    <div><strong>Nu aveti permisiunea de a vizualiza profilul acesta!</strong></div>
}
